{% extends "base.html" %}

{%block content%}
<div class="">
    <div class="m-2 collapse collapse-arrow border-2 border-black">
        <input type="radio" name="my-accordion-3" onmouseover="getState(this)" onclick="closeRadio(this)" />
        <div class="collapse-title text-xl font-medium">
            Контакты и сертификаты
        </div>
        <div class="collapse-content">
            <form id="info" action="/admin/modifyInfo" method="post">
                
                <td>
                    <label class="mt-4 form-control w-44">
                        <div class="label">
                            <span class="label-text">Телефон</span>
                        </div>
                        <input onfocusout="sendInfo()" name="phoneNumber" value="{{ info.phoneNumber }}"
                            class="textarea textarea-bordered" placeholder="">

                    </label>
                </td>
                <td>
                    <label class="mt-4 form-control w-44">
                        <div class="label">
                            <span class="label-text">Второй номер телефона</span>
                        </div>
                        <input onfocusout="sendInfo()" name="secondNumber" value="{{ info.secondNumber }}"
                            class="textarea textarea-bordered" placeholder="">
                    </label>
                </td>
                <td>
                    <label class="mt-4 form-control w-44">
                        <div class="label">
                            <span class="label-text">Почта</span>
                        </div>
                        <input onfocusout="sendInfo()" name="email" value="{{ info.email }}"
                            class="textarea textarea-bordered" placeholder="">
                    </label>
                </td>
                <td>
                    <label class="mt-4 form-control w-44">
                        <div class="label">
                            <span class="label-text">Телеграмм</span>
                        </div>
                        <input onfocusout="sendInfo()" name="telegramm" value="{{ info.telegramm }}"
                            class="textarea textarea-bordered" placeholder="">
                    </label>
                </td>
                <td>
                    <label class="mt-4 form-control w-44">
                        <div class="label">
                            <span class="label-text">Ватсап</span>
                        </div>
                        <input onfocusout="sendInfo()" name="whattsup" value="{{ info.whattsup }}"
                            class="textarea textarea-bordered" placeholder="">
                    </label>
                </td>
                
            </form>

            <div>
                <h1 class="text-3xl">Сертификаты</h1>
                <div class="w-full" style="overflow-x: auto; display: flex; flex-direction: row;">
                    {% if cert[0].imagePaths | length > 0 %}
                        {%for i in range(0, cert[0].imagePaths | length) %}
                            <img id="img{{ loop.index }}" class="w-96 h-96 cursor-pointer"
                                onclick="prepareChangeProductImg('{{ cert[0].imagePaths }} ','{{ cert[0].id }}')"
                                src="{{ cert[0].imagePaths[i] }}" alt="">
                        {%endfor%}
                    {% endif %}
                </div>
                <!-- <div class="w-full">
                    <div class="w-96 h-96">
                        {% if cert[0].imagePaths | length > 0 %}
                            {%for cetrif in cert[0].imagePaths%}
                                <img id="img{{ loop.index }}" class="h-full cursor-pointer "
                                    onclick="prepareChangeProductImg('{{ cert[0].imagePaths }} ','{{ cert[0].id }}')"
                                    src="{{ cert[0].imagePaths[0] }}" alt="">

                            {%endfor%}
                        {% endif %}
                    </div>
                </div> -->
                <form action="/admin/addcert" method="post" encType="multipart/form-data" class="mb-5">
                    <input type="text" class="hidden" name="imagePath" value="{{ cert[0].imagePaths }}" id="">
                    <input type="file" name="cert" accept="image/png, image/webp" multiple required />
                    <button class="mt-4 btn btn-primary" type="submit">Добавить сертификат</button>

                </form>
            </div>
        </div>
    </div>
    <!-- {{ boxes }} -->
    {%for box in boxes%}
    <div class="m-2 collapse collapse-arrow  border-2 border-black">
        <input type="radio" name="my-accordion-3" onmouseover="getState(this)" onclick="closeRadio(this)" />
        <div class="collapse-title text-xl font-medium">
            {{box.name}}
        </div>
        <div class="collapse-content">
            <form id="formMain{{ loop.index }}" action="/admin/modifyBox" encType="multipart/form-data" method="post">
                <tr>

                    <td>
                        <label class="mt-4 form-control">
                            <div class="label">
                                <span class="label-text">Имя</span>
                            </div>
                            <input onfocusout="forOneSelectForm('{{loop.index}}')" name="name"
                                class=" textarea textarea-bordered w-60" placeholder="" value="{{ box.name }}">
                        </label>

                    </td>
                    <td>
                        <label class="mt-4 form-control">
                            <div class="label">
                                <span class="label-text">Краткое описание</span>
                            </div>
                            <textarea onfocusout="forOneSelectForm('{{loop.index}}')" name="shortDescription"
                                class=" textarea textarea-bordered w-full" placeholder="">{{ box.shortDescription }}
                        </textarea>
            
                    </label>
                    </td>
                    <td>

                        <label class="mt-4 form-control">
                            <div class="label">
                                <span class="label-text">Подробное описание</span>
                            </div>
                            <textarea onfocusout="forOneSelectForm('{{loop.index}}')" name="longDescription"
                                class=" textarea textarea-bordered w-full" placeholder="">{{ box.longDescription }}
                    </textarea>
                        </label>
                    </td>
                    <td>
                        <label class="mt-4 form-control">
                            <div class="label">
                                <span class="label-text">Тип шкафа</span>
                            </div>
                            <select onfocusout="forOneSelectForm('{{loop.index}}')" value="{{ box.type }}" name="type"
                                class=" select max-w-xs border border-black">
                                <option disabled selected>Выберете тип</option>
                                <option {{ "selected" if box.type=="Взрывозвщищеное оборудование" }}>Взрывозвщищеное
                                    оборудование</option>
                                <option {{ "selected" if box.type=="Пожарные щиты в соответсвии с 043 регламентом" }}>
                                    Пожарные щиты в соответсвии с 043 регламентом</option>
                                <option {{ "selected" if box.type=="Шкафы Электрообогрева" }}>Шкафы Электрообогрева
                                </option>
                                <option {{ "selected" if box.type=="Шкафы Автоматизации" }}>Шкафы Автоматизации
                                </option>
                                <option {{ "selected" if box.type=="19 “ стойки" }}>19 “ стойки</option>
                                <option {{ "selected" if box.type=="Распределительные щиты" }}>Распределительные
                                    щиты
                                </option>
                            </select>
                        </label>


                    </td>
                    <td>
                        <div class="mt-4">
                            <input onchange="newImg('{{loop.index}}'), forOneSelectForm('{{loop.index}}')"
                                id="fileInput{{ loop.index }}" type="file" name="icon" accept="image/png, image/webp"
                                multiple />
                            <input class="hidden" id="newFileBool{{loop.index}}" name="newFileBool" value="false">
                        </div>
                    </td>
                    <td class="">
                        {% if box.imagePaths | length > 0 %}
                        <img id="img{{ loop.index }}" class=" mt-4 h-40 w-40 cursor-pointer"
                            onclick="prepareChangeProductImg('{{ box.imagePaths }} ','{{ box.id }}')"
                            src="{{ box.imagePaths[0] }}" alt="">
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn mt-12" type="button" id="deleteButton"
                            onclick="deleteField('{{ loop.index }}')">
                            Удалить
                            <input id="deleteBool{{loop.index}}" name="deleteBool" class="hidden" value="">

                        </button>
                        <input name="id" class="hidden" value="{{ box.id }}">
                    </td>
                    <td>
                        <input id="imagePath" name="imagePath" value="{{ box.imagePaths }}" type="text" class="hidden">
                    </td>
            </form>
            </p>
        </div>
    </div>
    <div>

    </div>
    {%endfor%}
    <label class="btn bg-[#1d3a6d] text-[#fff] m-5" for="server-modal">Добавить сервер</label>
    <input type="checkbox" id="server-modal" class="modal-toggle" />

    <div class="modal" id="server-modal">
        <form id="form2" action="/admin/addBox" method="POST" encType="multipart/form-data">
            <div class="w-full max max-w-md p-8 bg-bg rounded-2xl relative modal-box">
                <label for="server-modal" class=" absolute right-3 top-3 cursor-pointer text-xl">✕</label>
                <div>
                    <h2 class="text-center text-3xl font-bold tracking-tight ">Добавить сервер</h2>
                </div>
                <div>
                    <input class="textarea textarea-bordered my-1" name="name" required
                        placeholder="Нвзвание"></textarea>
                </div>
                <div>
                    <textarea class="textarea textarea-bordered w-full" name="shortDescription" required
                        placeholder="Текст краткий"></textarea>
                </div>
                <div>
                    <textarea class="textarea textarea-bordered w-full" name="longDescription"
                        placeholder="Текст подробный"></textarea>
                </div>
                <div>
                    <select id="select{{ loop.index }}" onload="setValue('{{loop.index}}','{{ box.type }}')"
                        onfocusout="forOneSelectForm('{{loop.index}}')" required value="{{ box.type }}" name="type"
                        class="select w-full max-w-xs">
                        <option disabled>Выберете тип</option>
                        <option>Взрывозвщищеное оборудование</option>
                        <option>Пожарные щиты в соответсвии с 043 регламентом</option>
                        <option>Шкафы Электрообогрева</option>
                        <option>Шкафы Автоматизации</option>
                        <option>19 “ стойки</option>
                        <option>Распределительные щиты</option>
                    </select>
                </div>
                <div>
                    <input type="file" name="icon" accept="image/png, image/webp" multiple required />
                </div>
                <div class="flex items-center justify-center text-center my-4">
                    <button form="form2" class="btn bg-[#1d3a6d] text-[#fff]" type="submit">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>

    <dialog id="my_modal_5" class="modal bg-gray-800">
        <div class="h-full w-full flex justify-center">
            <div>
                <form method="dialog" class="absolute top-5 right-5">
                    <div class="modal-action">
                        <button class="btn "><img class="h-4 w-4" src="/siteimg/x-solid.svg"></button>
                    </div>
                </form>
            </div>
            <div class="">
                <img id="mainpic2" class=" w-full max-w-screen md:max-h-screen" src="">
            </div>
        </div>
    </dialog>

    <dialog id="my_modal_4" class="modal">
        <div class="modal-box w-fit max-w-5xl h-4/5">
            <img src="" alt="">
            <div class="modal-action">
                <div class="w-96 h-full">
                    <img id="mainpic" class="h-full cursor-zoom-in" onclick="zoomImage(this.id)" src="">
                </div>
                <form action="/admin/deleteImage" method="post" id="deleteImage">
                    <div class="w-16 h-full carousel carousel-vertical rounded-box overflow-x-hidden overflow-y-auto">

                        <input id="deletePath" class="hidden" name="deletePath" value="">
                        <input id="deletePathId" class="hidden" name="deletePathId" value="">
                        <input id="imageToDelete" class="hidden" name="imageToDelete" value="">
                        <div id="modalDivs">
                            <div class="carousel-item aspect-square cursor-pointer"
                                onclick="changeProductImg('mainpic', this)">
                                <img class="delImg" id="pic1" src="" />
                            </div>
                            <div class="carousel-item aspect-square cursor-pointer"
                                onclick="changeProductImg('mainpic', this)">
                                <img class="delImg" id="pic2" src="" />
                            </div>
                        </div>
                </form>
            </div>
            <div>
                <button type="button" onclick="deleteImage()" class="btn btn-primary m-4">Удалить выбранную
                    картинку</button>
            </div>

            <form method="dialog" class="">
                <div class="modal-action">
                    <button class="btn">Закрыть</button>
                </div>
            </form>
        </div>
    </dialog>
</div>
</div>

<script>
    var radioStatus = false;
    function getState(radio) {
        radioStatus = radio.checked;
    }
    async function closeRadio(radio) {
        if (radioStatus) {
            radio.checked = false;
        }
    }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function zoomImage(imgId) {
        let img = document.getElementById(imgId);
        let modal = document.getElementById("my_modal_5");
        let modalImg = document.getElementById("mainpic2");
        modalImg.src = img.src;
        modal.showModal();
    }
    function sendInfo() {
        document.getElementById("info").submit();
    }
    function newImg(id) {
        document.getElementById(`newFileBool${id}`).value = "true";
    }
    function forOneSelectForm(id) {
        document.getElementById(`deleteBool${id}`).value = "modify";
        document.getElementById(`formMain${id}`).submit();
    }
    function deleteField(id) {
        document.getElementById(`deleteBool${id}`).value = "delete";
        document.getElementById(`formMain${id}`).submit();
    }
    function deleteImage() {
        var path = document.getElementById("deletePath").value;
        var myArray = document.getElementById("imagePath").value.split(",");
        for (var i = 0; i < myArray.length; i++) {
            if (myArray[i] === path) {
                myArray.splice(i, 1);
            }
        }
        document.getElementById("deletePath").value = myArray;
        document.getElementById("imageToDelete").value = document.getElementById("mainpic").getAttribute("src");
        document.getElementById("deleteImage").submit();
    }

    function deleteImage() {
        var path = document.getElementById("deletePath").value;
        var myArray = document.getElementById("imagePath").value.split(",");
        for (var i = 0; i < myArray.length; i++) {
            if (myArray[i] === path) {
                myArray.splice(i, 1);
            }
        }
        document.getElementById("deletePath").value = myArray;
        document.getElementById("imageToDelete").value = document.getElementById("mainpic").getAttribute("src");
        document.getElementById("deleteImage").submit();
    }
    function getFile(fiid) {
        var fi = document.getElementById(fiid);
        for (var i = 0; i <= fi.files.length - 1; i++) {
            var fname = fi.files.item(i).name;
        }
    };
    function showModalMy() {
        document.getElementById("my_modal_4").showModal();

    }

    //Write a code that creates extra divs with images and inserts them in modalDivs.
    function createModalDivs(array) {
        var modalDivs = document.getElementById("modalDivs");
        var modalDivsHtml = "";
        for (var i = 0; i < array.length; i++) {
            modalDivsHtml += '<div class="carousel-item aspect-square cursor-pointer" onclick="changeProductImg(\'mainpic\', this)"><img class="delImg" id="pic' + (i + 1) + '" src="' + array[i] + '" /></div>';
        }
        modalDivs.innerHTML = modalDivsHtml;
    }

    function prepareChangeProductImg(picId, id) {

        var myArray = picId.split(",");
        createModalDivs(myArray);
        document.getElementById("deletePathId").value = id;
        document.getElementById("imagePath").value = myArray;
        document.getElementById("mainpic").src = myArray[0];
        document.getElementById("deletePath").value = myArray[0];
        for (var i = 0; i < myArray.length; i++ && i < 4) {
            document.getElementById("pic" + (i + 1)).src = myArray[i];
        }
        showModalMy();
    }
    function changeProductImg(imgId, img) {
        document.getElementById("deletePath").value = img.children[0].getAttribute("src");
        document.getElementById(imgId).src = img.children[0].getAttribute("src");
    }
</script>
</body>
{%endblock%}