{% import "./parts/macros.html" as macros %}

<!DOCTYPE html>
<html data-theme="mytheme">

<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/siteimg/minilogo.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords"
	content="Взрывозащитное оборудование,
	EXD оболочки,
	EXE коробки,
	Пожарные щиты в соответсвии с 043 регламентом,
	Щиты управление противо дымной вентиляцией,
	Щиты управления пенным пожаро тушением,
	ППУ,
	19 “ стойки,
	Система видеонаблюдения,
	Серверные и прочее,
	Шкафы Электрообогрева,
	Шкафы питания электрообогрева,
	Шкафы управления электрообогрева,
	Шкафы Автоматизации,
	Шкафы автоматизации систем вентиляции,
	Шкафы автоматизации систем котельных,
	Шкафы автоматизации систем насосами,
	Распределительные щиты,
	РУНН,
	ГРЩ,
	ЩР,
	ЩО,
	ЩАО,
	АВР," />
	<title>{% block title %}{% endblock %} MARMAKS</title>
	{% block head %}{% endblock %}
</head>

<body class="relative">
	<div class="flex flex-col min-h-screen">
		<button onclick="topFunction()" id="scrollButton" class="w-12 h-12 fixed hidden bottom-5 right-8 z-50 text-lg outline-none bg-[#fff] p-4 pt-3 border-2 rounded-md border-[#1d3a6d]"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg></button>

		{% include "./parts/nav.html" %}
		<div class="container flex-1">
			{% block content %}{% endblock %}
		</div>
		{% include "./parts/podval.html" %}
		<div class="toast toast-top toast-end">
			
			{% block alert %}
			{% if error %}
			{{ macros.alert_error(error) }}
			{% endif %}
			{% if success %}
			{{ macros.alert_success(success) }}
			{% endif %}
			{% if message %}
			{{ macros.alert_info(message) }}
			{% endif %}
			{% endblock %}
		</div>
	</div>
</body>
<script lang="JS">
	
	// Get the button
	let mybutton = document.getElementById("scrollButton");
	
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function() {scrollFunction()};
	var height = window.innerHeight;
	
	function scrollFunction() {
	  if (document.body.scrollTop > height/2 || document.documentElement.scrollTop > height/2) {
		mybutton.style.display = "block";
	  } else {
		mybutton.style.display = "none";
	  }
	}
	
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	window.scroll({
		top: 2500, 
		left: 0, 
		behavior: 'smooth' 
	});
	  document.body.scrollTop = 0;
	  document.documentElement.scrollTop = 0;
	}
	</script>

</html>