{% import "./parts/macros.html" as macros %}

<!DOCTYPE html>
<html data-theme="mytheme">

<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} MARMAKS</title>
	{% block head %}{% endblock %}
</head>

<body class="min-h-screen">
	<div class="scroll-smooth" style="scroll-behavior: smooth !important;">
		{% include "./parts/nav.html" %}
		{% block content %}{% endblock %}
		{% include "./parts/podval.html" %}
		<div class="toast toast-top toast-end">
			{% block alert %}
			{% if error %}
			{{ macros.alert_error(error) }}
			{% endif %}
			{% if success %}
			{{ macros.alert_success(success) }}
			{% endif %}
			{% if message %}
			{{ macros.alert_info(message) }}
			{% endif %}
			{% endblock %}
		</div>
	</div>
</body>
<script lang="JS">
</script>

</html>