<div class="mt-8">
  {{ certGallery.gallery(cert.imagePaths) }}
    <!-- <div class="gallery flex justify-center items-center">
      {% for certPath in cert.imagePaths %}
        <div class="image-container relative">
          <img src="{{certPath}}" alt="Image 1" class="image" />
        </div>
      {% endfor %} -->
</div>
    <!-- <div>
        <input type="radio" name="radio-1" class="radio" checked />
        <input type="radio" name="radio-1" class="radio" />
        <input type="radio" name="radio-1" class="radio" />
    </div> -->
<script>

</script>