<form action="/sendorder" method="post" encType="multipart/form-data">
    <div id="order" class="p-6 mt-6" style="background-color: #1d3a6d;">
        <div class="m-8 grid justify-items-center">
            <h2 class="text-white text-center font-bold text-2xl">Заказ</h2>
            <div class="form-control w-full max-w-md">
                <label class="label">
                    <span class="label-text text-white">Номер телефона</span>
                </label>
                <input required type="tel" name="name" class="input input-bordered w-full max-w-md"/>
            </div>
            <div class="form-control w-full max-w-md">
                <label class="label">
                    <span class="label-text text-white">Почта</span>
                </label>
                <input required type="email" name="email"  class="input input-bordered w-full max-w-md"/>
            </div>
            <div class="form-control w-full max-w-md">
                <label class="label">
                    <span class="label-text text-white">Примечание</span>
                </label>
                <input required type="text" name="note" class="input input-bordered w-full max-w-md"/>
            </div>
            <div class="form-control w-full max-w-md">
                <label class="label">
                    <span class="label-text text-white">Файл</span>
                </label>
                <input required multiple type="file" name="file" class="file-input file-input-bordered w-full max-w-md"/>
                <div class="text-[#fff] my-4">
                    <input class="mr-2" type="checkbox" id="" required >Политика конфиденциальности
                </div>
            </div>
            <div class="form-control w-full max-w-md pt-8">
                <button class="btn">Отправить</button>
            </div>
        </div>
    </div>
</form>