<div>
    <div class="hidden xl:flex m-12 text-md h-10 w-fit font-semibold mx-auto place-items-center">
        <a href="/category/vzrivozashitnoe">Взрывозащитное оборудование</a>
        <div class="divider divider-horizontal"></div>
        <a href="/category/pozarnie">Пожарные щиты в соответсвии с 043 регламентом</a>
        <div class="divider divider-horizontal"></div>
        <a href="/category/19">19 “ стойки</a>
        <div class="divider divider-horizontal"></div>
        <a href="/category/electoobogreva">Шкафы Электрообогрева</a>
        <div class="divider divider-horizontal"></div>
        <a href="/category/avtomotizatsii">Шкафы Автоматизации</a>
        <div class="divider divider-horizontal"></div>
        <a href="/category/raspredelitelnie">Распределительные щиты</a>
    </div>
</div>