<div id="us_info" class="flex flex-col md:flex-row mt-6">
    <div class="flex-1 place-items-center">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-10 m-16">
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Бесплатно пересчиатем на других производителях</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Бесплатное проектирование</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Гаранития  на продукцию</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Комплект документации в коплекте со шкафом</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Бесплатно пересчиатем на других производителях</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-base">Собственное производство</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="md:rounded-l-3xl md:w-2/5 p-8 text-white" style="background-color: #1d3a6d;">
        <h2 class="font-bold text-2xl">В наш комплект поставки входит:</h2>
        <ul class="list-disc text-xl pl-4">
            <li>Шкаф</li>
            <li>Паспорт на шкаф</li>
            <li>Вся документация на оборудование использованая в шкафу</li>
        </ul>
    </div>
</div>