<div class="my-2 mt-10 sm:text-sm md:text-3xl" style="text-align: center;">Как работаем</div>
        <hr class="w-1/2 mx-auto h-1 bg-[#A2AEC3]">

<div id="us_info" class="flex flex-col md:flex-row mt-6 scroll-mt-40">
    <div class="flex-1 place-items-center text-2xl">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-10 m-16">
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center ">
                    <h2 class="card-title my-auto text-xl">Предоставление профессиональных услуг.</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-xl">Сборка электрощитового оборудования.</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-xl">Программирование и настройка оборудования.
                    </h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-xl">Работа с различными типами и моделями оборудования</h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-xl">Анализ потребностей и требований клиентов.
                    </h2>
                </div>
            </div>
            <div class="card w-full bg-base-100 myShadow">
                <div class="card-body items-center text-center">
                    <h2 class="card-title my-auto text-xl">Обеспечение высокого качества и надежности продукции.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="  md:w-2/5 p-8 text-white rounded-3xl" style="background-color: #1d3a6d;">
        <ul class="list-disc text-2xl pl-4">
            Мы предоставляем профессиональные услуги по сборке, программированию и настройке электрощитового оборудования различных типов и моделей, включая щиты низкого и среднего напряжения. Наш процесс начинается с анализа потребностей клиента, затем мы создаем индивидуальное решение, собираем оборудование с использованием сертифицированных компонентов, программируем и настраиваем его в соответствии с требованиями проекта. Наша цель - предоставить высококачественное и безопасное оборудование, соответствующее потребностям клиента. Обратитесь к нам для надежного партнерства в вашем проекте электрощитового оборудования.
        </ul>
    </div>
</div>