@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
}


.myTextColor {
    color: #1d3a6d
}

.defoultImg{
    background-image:url('/img/default.svg');
    height: 100%;
    background-repeat: no-repeat;
}

body {
    background-color: #F3F5FA;
    font-family: 'Nunito Sans', sans-serif;
    color: #1d3a6d;
}

.card0 {
    position: relative;
    align-items: center;
    background-color: #1d3a6d;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
}

.card1 {
  position: relative;
  right: 0;
  align-items: center;
  background-color: #1d3a6d;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}
.text-xxs{
    font-size: 0.5rem/* 12px */;
    line-height: 0.75rem/* 16px */;

}

.myShadow{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}